* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v495_3 {
  width: 100%;
  height: 2158px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v529_4 {
  width: 100%;
  height: 380px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 31px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v529_5 {
  width: 383px;
  height: 294px;
  background: url("../images/v529_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 77px;
  overflow: hidden;
}
.v529_6 {
  width: 336px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 173px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v529_7 {
  width: 372px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 688px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v529_8 {
  width: 777px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 223px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v529_9 {
  width: 172px;
  height: 46px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 524px;
  left: 152px;
  overflow: hidden;
}
.v529_10 {
  width: 172px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 378px;
  overflow: hidden;
}
.v529_11 {
  width: 301px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 602px;
  overflow: hidden;
}
.v532_2 {
  width: 306px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 255px;
  left: 276px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v534_3 {
  width: 345px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 255px;
  left: 825px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v534_5 {
  width: 161px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 526px;
  left: 420px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v534_6 {
  width: 304px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 530px;
  left: 604px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v534_7 {
  width: 100%;
  height: 380px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 31px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_9 {
  width: 100%;
  height: 380px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1537px;
  left: 43px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v537_10 {
  width: 874px;
  height: 944px;
  background: url("../images/v537_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 682px;
  left: 210px;
  overflow: hidden;
}
.v537_35 {
  width: 336px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 893px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v537_36 {
  width: 197px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 893px;
  left: 58px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_38 {
  width: 372px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 478px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v537_41 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 464px;
  left: 611px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v534_4 {
  width: 190px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 526px;
  left: 161px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_10 {
  width: 100%;
  height: 181px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1980px;
  left: 394px;
  overflow: hidden;
}
.v535_12 {
  width: 511px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2068px;
  left: 31px;
  font-family: Frank Ruhl Libre;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v535_13 {
  width: 452px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2114px;
  left: 31px;
  font-family: Frank Ruhl Libre;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v535_15 {
  width: 561px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2069px;
  left: 652px;
  font-family: Frank Ruhl Libre;
  font-weight: Medium;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v537_37 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 961px;
  left: 161px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_16 {
  width: 777px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 759px;
  left: 222px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_19 {
  width: 336px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 680px;
  left: 173px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v538_3 {
  width: 383px;
  height: 311px;
  background: url("../images/v538_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 692px;
  left: 75px;
  overflow: hidden;
}
.v535_18 {
  width: 100%;
  height: 380px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1094px;
  left: 31px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v538_5 {
  width: 383px;
  height: 294px;
  background: url("../images/v538_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1144px;
  left: 77px;
  overflow: hidden;
}
.v538_7 {
  width: 383px;
  height: 294px;
  background: url("../images/v538_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1590px;
  left: 77px;
  overflow: hidden;
}
.v535_20 {
  width: 372px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 682px;
  left: 688px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_21 {
  width: 172px;
  height: 46px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 957px;
  left: 152px;
  overflow: hidden;
}
.v535_22 {
  width: 172px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 958px;
  left: 378px;
  overflow: hidden;
}
.v535_23 {
  width: 301px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 958px;
  left: 602px;
  overflow: hidden;
}
.v535_36 {
  width: 322px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 683px;
  left: 289px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_39 {
  width: 258px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 683px;
  left: 813px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_40 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 961px;
  left: 161px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_41 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 959px;
  left: 420px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_42 {
  width: 320px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 961px;
  left: 604px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_43 {
  width: 336px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1142px;
  left: 173px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_44 {
  width: 372px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1144px;
  left: 688px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_45 {
  width: 777px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1224px;
  left: 222px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_46 {
  width: 172px;
  height: 46px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1415px;
  left: 152px;
  overflow: hidden;
}
.v535_47 {
  width: 301px;
  height: 46px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1416px;
  left: 623px;
  overflow: hidden;
}
.v535_48 {
  width: 172px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1417px;
  left: 398px;
  overflow: hidden;
}
.v535_55 {
  width: 267px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1148px;
  left: 242px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_57 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1146px;
  left: 821px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_39 {
  width: 340px;
  height: 50px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 1568px;
  left: 731px;
  border: 3px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v537_42 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1569px;
  left: 821px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_43 {
  width: 777px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1650px;
  left: 222px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_58 {
  width: 191px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1417px;
  left: 161px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_46 {
  width: 172px;
  height: 39px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1845px;
  left: 152px;
  overflow: hidden;
}
.v537_47 {
  width: 159px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1845px;
  left: 158px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_59 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1417px;
  left: 438px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_48 {
  width: 178px;
  height: 39px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1850px;
  left: 398px;
  overflow: hidden;
}
.v537_49 {
  width: 93px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1848px;
  left: 446px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_61 {
  width: 310px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1420px;
  left: 623px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_50 {
  width: 308px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1846px;
  left: 634px;
  overflow: hidden;
}
.v537_51 {
  width: 293px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1849px;
  left: 641px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_63 {
  width: 734px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 334px;
  left: 243px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_64 {
  width: 744px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 769px;
  left: 233px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_66 {
  width: 736px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1237px;
  left: 241px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_71 {
  width: 402px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1673px;
  left: 241px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_11 {
  width: 376px;
  height: 171px;
  background: url("../images/v535_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1982px;
  left: 232px;
  overflow: hidden;
}
.v495_5 {
  width: 100%;
  height: 181px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 109px;
  overflow: hidden;
}
.v536_2 {
  width: 100%;
  height: 181px;
  background: url("../images/v536_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 76px;
  overflow: hidden;
}
.v524_6 {
  width: 100%;
  height: 181px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v524_3 {
  width: 493px;
  color: rgba(185,255,181,1);
  position: absolute;
  top: 29px;
  left: 813px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v524_4 {
  width: 220px;
  height: 53px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 858px;
  overflow: hidden;
}
.v524_2 {
  width: 553px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 101px;
}
.v495_4 {
  width: 376px;
  height: 171px;
  background: url("../images/v495_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v529_2 {
  width: 137px;
  height: 55px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 101px;
  overflow: hidden;
}
.v524_5 {
  width: 213px;
  color: rgba(11,11,11,1);
  position: absolute;
  top: 51px;
  left: 115px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v495_3 {
  width: 100%;
  height: 2158px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v529_4 {
  width: 100%;
  height: 380px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 31px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v529_5 {
  width: 383px;
  height: 294px;
  background: url("../images/v529_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 77px;
  overflow: hidden;
}
.v529_6 {
  width: 336px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 173px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v529_7 {
  width: 372px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 688px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v529_8 {
  width: 777px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 223px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v529_9 {
  width: 172px;
  height: 46px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 524px;
  left: 152px;
  overflow: hidden;
}
.v529_10 {
  width: 172px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 378px;
  overflow: hidden;
}
.v529_11 {
  width: 301px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 602px;
  overflow: hidden;
}
.v532_2 {
  width: 306px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 255px;
  left: 276px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v534_3 {
  width: 345px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 255px;
  left: 825px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v534_5 {
  width: 161px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 526px;
  left: 420px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v534_6 {
  width: 304px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 530px;
  left: 604px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v534_7 {
  width: 100%;
  height: 380px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 654px;
  left: 31px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_9 {
  width: 100%;
  height: 380px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1537px;
  left: 43px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v537_10 {
  width: 874px;
  height: 944px;
  background: url("../images/v537_10.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 682px;
  left: 210px;
  overflow: hidden;
}
.v537_35 {
  width: 336px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 893px;
  left: 0px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v537_36 {
  width: 197px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 893px;
  left: 58px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_38 {
  width: 372px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 478px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v537_41 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 464px;
  left: 611px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v534_4 {
  width: 190px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 526px;
  left: 161px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_10 {
  width: 100%;
  height: 181px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1980px;
  left: 394px;
  overflow: hidden;
}
.v535_12 {
  width: 511px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2068px;
  left: 31px;
  font-family: Frank Ruhl Libre;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v535_13 {
  width: 452px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2114px;
  left: 31px;
  font-family: Frank Ruhl Libre;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v535_15 {
  width: 561px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2069px;
  left: 652px;
  font-family: Frank Ruhl Libre;
  font-weight: Medium;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v537_37 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 961px;
  left: 161px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_16 {
  width: 777px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 759px;
  left: 222px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_19 {
  width: 336px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 680px;
  left: 173px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v538_3 {
  width: 383px;
  height: 311px;
  background: url("../images/v538_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 692px;
  left: 75px;
  overflow: hidden;
}
.v535_18 {
  width: 100%;
  height: 380px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1094px;
  left: 31px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v538_5 {
  width: 383px;
  height: 294px;
  background: url("../images/v538_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1144px;
  left: 77px;
  overflow: hidden;
}
.v538_7 {
  width: 383px;
  height: 294px;
  background: url("../images/v538_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1590px;
  left: 77px;
  overflow: hidden;
}
.v535_20 {
  width: 372px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 682px;
  left: 688px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_21 {
  width: 172px;
  height: 46px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 957px;
  left: 152px;
  overflow: hidden;
}
.v535_22 {
  width: 172px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 958px;
  left: 378px;
  overflow: hidden;
}
.v535_23 {
  width: 301px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 958px;
  left: 602px;
  overflow: hidden;
}
.v535_36 {
  width: 322px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 683px;
  left: 289px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_39 {
  width: 258px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 683px;
  left: 813px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_40 {
  width: 176px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 961px;
  left: 161px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_41 {
  width: 127px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 959px;
  left: 420px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_42 {
  width: 320px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 961px;
  left: 604px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_43 {
  width: 336px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1142px;
  left: 173px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_44 {
  width: 372px;
  height: 46px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1144px;
  left: 688px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_45 {
  width: 777px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1224px;
  left: 222px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_46 {
  width: 172px;
  height: 46px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1415px;
  left: 152px;
  overflow: hidden;
}
.v535_47 {
  width: 301px;
  height: 46px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1416px;
  left: 623px;
  overflow: hidden;
}
.v535_48 {
  width: 172px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1417px;
  left: 398px;
  overflow: hidden;
}
.v535_55 {
  width: 267px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1148px;
  left: 242px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_57 {
  width: 263px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1146px;
  left: 821px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_39 {
  width: 340px;
  height: 50px;
  background: rgba(196,196,196,0);
  opacity: 1;
  position: absolute;
  top: 1568px;
  left: 731px;
  border: 3px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v537_42 {
  width: 133px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1569px;
  left: 821px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_43 {
  width: 777px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1650px;
  left: 222px;
  border: 2px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v535_58 {
  width: 191px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1417px;
  left: 161px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_46 {
  width: 172px;
  height: 39px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1845px;
  left: 152px;
  overflow: hidden;
}
.v537_47 {
  width: 159px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1845px;
  left: 158px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_59 {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1417px;
  left: 438px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_48 {
  width: 178px;
  height: 39px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1850px;
  left: 398px;
  overflow: hidden;
}
.v537_49 {
  width: 93px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1848px;
  left: 446px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_61 {
  width: 310px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1420px;
  left: 623px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v537_50 {
  width: 308px;
  height: 44px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 1846px;
  left: 634px;
  overflow: hidden;
}
.v537_51 {
  width: 293px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1849px;
  left: 641px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_63 {
  width: 734px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 334px;
  left: 243px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_64 {
  width: 744px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 769px;
  left: 233px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_66 {
  width: 736px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1237px;
  left: 241px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_71 {
  width: 402px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1673px;
  left: 241px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v535_11 {
  width: 376px;
  height: 171px;
  background: url("../images/v535_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1982px;
  left: 232px;
  overflow: hidden;
}
.v495_5 {
  width: 100%;
  height: 181px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 109px;
  overflow: hidden;
}
.v536_2 {
  width: 100%;
  height: 181px;
  background: url("../images/v536_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 76px;
  overflow: hidden;
}
.v524_6 {
  width: 100%;
  height: 181px;
  background: rgba(1,75,33,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v524_3 {
  width: 493px;
  color: rgba(185,255,181,1);
  position: absolute;
  top: 29px;
  left: 813px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v524_4 {
  width: 220px;
  height: 53px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 858px;
  overflow: hidden;
}
.v524_2 {
  width: 553px;
  height: 55px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 101px;
}
.v495_4 {
  width: 376px;
  height: 171px;
  background: url("../images/v495_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v529_2 {
  width: 137px;
  height: 55px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 101px;
  overflow: hidden;
}
.v524_5 {
  width: 213px;
  color: rgba(11,11,11,1);
  position: absolute;
  top: 51px;
  left: 115px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
